<template>
  <div class="page-content">
  	<x-header @on-click-back="backHandle" :left-options="{preventGoBack:true}" title="首页">
  		<div slot="right">
 			<a class="vux-header-more" @click="moreHandle"></a>
  		</div>
  	</x-header>
  	<Banner></Banner>
  	<TabSwiper tabIndex="精选" :tabList="tabList"></TabSwiper>
  	 <AddressCell title="选择地址"></AddressCell>
  	 <actionsheet :menus="menus"  v-model="actionsheetVisible" show-cancel :close-on-clicking-menu="false" @on-click-menu-menu1 = "cameraHandle" @on-click-menu-menu2 = "photoHandle" @on-click-menu-cancel="cancelHandle"></actionsheet>
  	 <input type="file" ref="camera" accept="image/*" capture='camera' v-show="false">
  </div>
</template>

<script>
	import Banner from '../components/banner'
	import TabSwiper from '../components/tabSwiper'
	import AddressCell from '../components/addressCell'
	import { Actionsheet} from 'vux'
	export default {
	  name: 'Home',
	  components:{
	  	Banner,
	  	TabSwiper,
	  	AddressCell,
	  	Actionsheet,
	  	// Popover
	  },
	  data() {
	    return {
			title:'默认为空',
			tabList:['精选', '美食', '电影', '酒店', '外卖'],
			index:0,
			menus:{
				menu1:'拍照',
				menu2:'从相册选择'
			},
			actionsheetVisible:false
	    }
	  },
	  mounted(){
	  	this.post(this.Api.baseUrl + '/signin',{
	  		username:'a',
	  		password:1111
	  	},function(res){
	  		console.log(res)
	  	},function(err){
	  		console.log(err)
	  	})
	  },
	  methods:{
	  	backHandle(){
	  		this.toast('返回触发了')
	  	},
	  	moreHandle(){
	  		this.actionsheetVisible = true
	  	},
	  	cameraHandle(){
	  		this.actionsheetVisible = false
	  		this.$refs.camera.click
	  	},
	  	photoHandle(){
	  		this.actionsheetVisible = false
	  		this.toast('打开相册')
	  	},
	  	cancelHandle(){
	  		this.actionsheetVisible = false
	  	}
	  }
	}

</script>

