<template>
	<div id="root">
		<router-view />
		<Tabbar></Tabbar>
	</div>
</template>

<script>
	import Tabbar from '../components/tabbar'
	export default{
		name:"Index",
		components:{
		  	Tabbar
		  }
	}
</script>

<style lang="less" scoped>
	#root{
		height:100%;
	}
</style>