<template>
	<div class="page-content" id="message">
		<x-header title="消息"></x-header>
		
		<group style="margin-top: 20px;">
	      <cell title="我的账号" value="保护中""></cell>
	      <cell title="余额" :is-loading="!money" :value="money"></cell>
	      <cell title="提现" disabled is-link></cell>
	    </group>

	    <group>
	    	<cell is-link @click.native="getList">
		        <span slot="title" style="color:green;"><span style="vertical-align:middle;">消息</span> 
		        <badge text="1"></badge></span>
	        </cell>
	        <cell title="隐私" is-link></cell>
	        <cell title="通知" is-link></cell>
	    </group>
	    <router-view />
	</div>
</template>

<script>
	import { Badge } from 'vux'
	export default{
		components:{
			Badge
		},
		data(){
			return {
				money:''
			}
		},
		mounted(){
			setTimeout(() => {
				this.money = 1024
			},2000)
		},
		methods:{
			getList(){
				this.$router.push({path:'/message/MessageList'})
			}
		}

	}
</script>

<style lang="less" scoped>
	#message{
		height:100%;
		background:#f5f5f5;
	}
</style>