<template>
	<div id="mine" class="page-content">
		<div class="page-content" id="message">
			<x-header title="我的"></x-header>
			<div class="notice">
				<p>
					<i class="weui-icon weui_icon_info weui-icon-info weui-icon_msg"></i>
				</p>
				<p>
					暂无数据
				</p>
			</div>
		</div>
	</div>
</template>

<style lang="less" scoped>
	.notice{
		margin-top: 50px;
		text-align: center;
		p{
			margin-bottom: 20px;
		}
	}
</style>