<template>
	<div>
	    <group>
	      <x-address :title="title" :list="addressData" @on-shadow-change="onShadowChange" placeholder="请选择地址" inline-desc="可以设置placeholder"></x-address>
	    </group>
    </div>
</template>

<script>
	import { Group, XAddress, ChinaAddressV4Data, XButton, Cell, Value2nameFilter as value2name } from 'vux'
	export default {
		props:['title'],
		data(){
			return {
				addressData: ChinaAddressV4Data
			}
		},
		components:{
			Group,
		    XAddress,
		    XButton,
		    Cell
		},
		methods:{
			onShadowChange(){
		  		console.log('滑动地址触发了')
		  	}
		}
	}
</script>