<template>
	<div id="meassage-list" class="page-content">
		<ul>
			<li>消息1</li>
			<li>消息2</li>
			<li>消息3</li>
			<li>消息4</li>
		</ul>
	</div>
</template>

<style scoped>
	#meassage-list{
		position:fixed;
		right:0;
		top:0;
		width:100%;
		height:100%;
		background:#f0f0f0;
	}
</style>