<template>
	<div id="tabbar">
		<router-link tag="a" to="/home">首页</router-link>	
		<router-link tag="a" to="/message">消息</router-link>	
		<router-link tag="a" to="/mine">我的</router-link>	
	</div>
</template>

<style lang="less" scoped>
	#tabbar{
		width:100%;
		position:fixed;
		bottom:0;
		border-top:1px solid #f0f0f0;
		font-size:0;
		background:#fbfbfb;
		a{
			display:inline-block;
			width:33.333%;
			font-size:14px;
			text-align:center;
			padding:10px 0;
			color:#333;
			&.router-link-active{
				color:rgb(252, 55, 140);
			}
		}
	}
</style>