<template>
	<div>
  		<tab :line-width=2 active-color='#fc378c' v-model="index">
	  		<tab-item class="vux-center" :selected="tabIndex === item" v-for="(item, index) in tabList" @click="tabIndex = item" :key="index">{{item}}</tab-item>
	    </tab>
		<swiper v-model="index" height="100px" :show-dots="false">
		  	<swiper-item v-for="(item, index) in tabList" :key="index">
		    	<div class="tab-swiper vux-center">{{item}} Container</div>
		  	</swiper-item>
		</swiper>
  	</div>
</template>

<script>
	export default{
		props:['tabIndex','tabList'],
		data(){
			return {
				index:0
			}
		},
		methods:{
			
		}
	}
</script>
<style lang="less" scoped>
	.tab-swiper{
		height:100%;
		text-align: center;
		line-height:100px;
	}
</style>